ignore: |
  .github/
  ignore/
  ubuntu-autoinstall/
  ansible/inventory/group_vars/all/vault.yaml
extends: default
rules:
  truthy:
    allowed-values: ['true', 'false', 'no', 'yes']
  comments:
    min-spaces-from-content: 1
  line-length: disable
  braces:
    min-spaces-inside: 0
    max-spaces-inside: 1
  brackets:
    min-spaces-inside: 0
    max-spaces-inside: 0
  indentation:
    spaces: 2
    indent-sequences: consistent
    check-multi-line-strings: false
