#!/bin/bash
#
# Hopefully this works.
#
url='https://github.com/magfest/bridges.git'
checkout='{{ branch }}'
directory='/opt/ansible'
logfile='/var/log/ansible-pull-update.log'
requirements="https://raw.githubusercontent.com/magfest/bridges/${checkout}/ansible/requirements.yaml"

mkdir -p ${directory}
wget -N -P ${directory} ${requirements}
ansible-galaxy install -r ${directory}/requirements.yaml
ansible-galaxy collection install -r ${directory}/requirements.yaml

ansible-pull -o -C ${checkout} -d ${directory}/repo -i localhost, -U ${url} --tags "laptops" --vault-password-file /opt/ansible/vault-password ansible/playbook.yaml 2>&1 | tee -a ${logfile}
