# Trash
.DS_Store
Thumbs.db
bin
# flux
*.iso
# Temp
ignore/
logs/
.task/
# Server folder
ansible.log
# SOPS
.decrypted~*.yaml
*vault-password
# Jetbrains
.idea
.venv
# Terraform
terraform/terraform-plugin-proxmox.log
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.terraform*
# ansible
geerlingguy.pip
# VSCode
.vscode/
