variables:
  TF_ROOT: ${CI_PROJECT_DIR}/terraform
  TF_HTTP_ADDRESS: ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/terraform/state/${CI_COMMIT_BRANCH}
  TF_STATE_NAME: ${CI_COMMIT_BRANCH}
  TF_CACHE_KEY: ${CI_COMMIT_BRANCH}
cache:
  key: "${TF_ROOT}"
  paths:
    - ${TF_ROOT}/.terraform/
    - ${TF_ROOT}/.terraform.lock.hcl
# Test
before_script:
  - cd ${TF_ROOT}

stages:
  - prepare-tf
  - validate-tf
  - build-tf
  - deploy-tf
  - ansible
  - destroy-tf

.global:
  tags:
    - shell
  rules:
    - changes:
      - docs/*
      - .vscode/*
      - .github/*
      - README.md
      - LICENSE
      when: never
    - when: on_success

init:
  stage: prepare-tf
  extends: .global
  script:
    - terraform init
    - terraform validate

validate:
  extends: .global
  stage: validate-tf
  script:
    - terraform validate

plan:
  stage: build-tf
  extends: .global
  artifacts:
    name: plan
    paths:
      - ${TF_ROOT}/plan.cache
    reports:
      terraform: ${TF_ROOT}/plan.json
  script:
    - terraform plan

create:
  stage: deploy-tf
  extends: .global
  environment:
    name: production
  dependencies:
    - plan
  script:
    - terraform apply -auto-approve

  artifacts:
    paths:
      - ${TF_ROOT}/.terraform

# Ansible section here
run-playbooks:
  stage: ansible
  extends: .global
  environment:
    name: production
  dependencies:
    - create
  script:
    - echo $(/bin/true)
    
destroy:
  stage: destroy-tf
  extends: .global
  environment:
    name: production
  dependencies:
    - create
  script:
    - terraform destroy -auto-approve
  rules:
      - when: manual
  artifacts:
    paths:
      - ${TF_ROOT}/.terraform
