{
    "airtable": { "base_id": "{{ airtable.base_id }}", "api_key": "{{ airtable.api_key }}"},
    "asterisk": {
        "reload_command": "systemctl restart asterisk"
    },
    "templates": {
        "custom.summary": {
            "type": "page",
            "src_path": "./provisioner/summary.html.jinja",
            "http_path": "/"
        }
    },
    "http": {
        "enable": true,
        "listen": "0.0.0.0",
        "port": 8080
    },
    "update_interval": 60,
    "logging": {
        "file_path": "/var/log/voip-provisioner.log",
        "file_level": "debug",
        "console_level": "info",
        "syslog_path": "/var/log/syslog",
        "syslog_level": debug,
    }
}
