authoritative;  
allow unknown-clients;  

option boot-server code 66 = string;
option option-66 code 66 = text;
option option-67 code 67 = text;
option vlan-flag code 190 = unsigned integer 8;
option voice-vlan-id code 191 = unsigned integer 16;
option data-vlan-id code 192 = unsigned integer 16;


{% for zone in dhcp_zones %}
shared-network {{ zone.name }} {
    not authoritative;
	subnet {{ zone.subnet }} netmask {{ zone.netmask }} {
		{% for option in zone.options|dict2items %}
		{% if option.value is string %}
		option {{ opt }} "{{ val }}";
		{% elif option.value|ipaddr %}
		option {{ option.key }} {{ option.value }};
		{% elif option.value is iterable %}
		option {{ option.key }} {{ ', '.join(option.value) }};
		{%- endif -%}
		{%- endfor %}

		{%- if 'next-server' in zone -%}next_server {{ zone.next_server }};{% endif %}
		{%- if 'filename' in zone -%}filename "{{ zone.filename }}";{% endif %}
		default-lease-time {{ zone.default_lease_time }};
		max-lease-time {{ zone.max_lease_time }};
		{%- if 'range' in zone -%}
		range {{ zone.range[0] }} {{ zone.range[1] }};
		{%- endif -%}
	}
}

{% endfor -%}

{% for iteration in dhcp_iterations %}
{% for n in range(iteration.iterate_range[0], iteration.iterate_range[1]) %}
shared-network {{ iteration.name_prefix }}{{ n|string }} {
    not authoritative;
	subnet {{ iteration.subnet_prefix }}{{ n|string }}{{ iteration.subnet_suffix }} netmask {{ iteration.netmask }} {
		{% for option in iteration.options|dict2items %}
		{% if option.key == "routers_suffix" %}
		option routers {{ iteration.subnet_prefix }}{{ n|string }}{{ option.value }}
		{% elif option.value is string %}
		option {{ opt }} "{{ val }}";
		{% elif option.value|ipaddr %}
		option {{ option.key }} {{ option.value }};
		{% elif option.value is iterable %}
		option {{ option.key }} {{ ', '.join(option.value) }};
		{%- endif -%}
		{%- endfor %}

		{%- if 'next-server' in iteration -%}next_server {{ iteration.next_server }};{% endif %}
		{%- if 'filename' in iteration -%}filename "{{ iteration.filename }}";{% endif %}
		default-lease-time {{ iteration.default_lease_time }};
		max-lease-time {{ iteration.max_lease_time }};
		{%- if 'range' in iteration %}
		range {{ iteration.range[0] }} {{ iteration.range[1] }};
		{%- endif -%}
	}
}

{% endfor -%}
{% endfor -%}
