$ORIGIN {{ zone_prefix }}magevent.net.
$TTL 3600
; {{ zone_prefix }}magevent.net
@ IN SOA dns1.{{ zone_prefix }}magevent.net. admin.{{ zone_prefix }}magevent.net. (
        2017122803  ; Serial
        28800      ; Refresh
        1800       ; Retry
        604800     ; Expire - 1 week
        86400 )    ; Minimum
        IN        NS        dns1
        IN        NS        dns2

_kerberos-adm._tcp        IN        SRV        10        10        88        freeipa
_kerberos-master._udp     IN        SRV        10        10        88        freeipa
_kerberos._udp            IN        SRV        10        10        88        freeipa
_kpasswd._udp             IN        SRV        10        10        88        freeipa
_ldap._tcp                IN        SRV        10        10        389       freeipa

_kerberos-adm._tcp        IN        SRV        10        10        88        freeipa
_kerberos-master._udp     IN        SRV        10        10        88        freeipa
_kerberos._udp            IN        SRV        10        10        88        freeipa
_kpasswd._udp             IN        SRV        10        10        88        freeipa
_ldap._tcp                IN        SRV        10        10        389       freeipa

_vlmcs._tcp               IN        SRV        10        10        1688      dc3

@                         IN        A        10.101.22.24
www                       IN        A        10.101.22.24
{% for item in magevent_net_hosts %}
; {{ item.name }}
{{ item.name }}           IN        {{ item.type }}        {{ item.ip }}
{% endfor %}

{% if branch == "prod" %}
{% for item in branch_list %}
$ORIGIN {{ item.branch }}.magevent.net.
$TTL 3600
@                         IN  NS  dns1-{{ item.branch }}.magevent.net.
dns1-{{ item.branch }}     IN  A   {{ (item.subnet.split('.'))[0:3] | join('.') }}.110
dns2-{{ item.branch }}     IN  A   {{ (item.subnet.split('.'))[0:3] | join('.') }}.120
{% endfor %}
{% endif %}

$INCLUDE /var/lib/bind/{{ item.branch }}.magevent.net.zone.aux
