#cloud-config
autoinstall:
    version: 1
    early-commands:
        - sed "s/\(hostname:\) REPLACEME-HOST/\1 ubuntu-$(ip l | grep ether | head -n1 | cut -d ' ' -f6 | sed 's/://g')/" -i /autoinstall.yaml
    locale: en_US
    storage:
        layout:
            name: lvm
    identity:
        hostname: REPLACEME-HOST
        username: {{ break_glass_user }}
        password: {{ break_glass_pass }}
    ssh:
        install-server: yes
        allow-pw: yes
    packages:
        - libreoffice
        - ubuntu-desktop
    late-commands:
        - wget http://$(sed 's/^.*LAPTOP_BOOTSRV=\(.*\) .*$/\1/' /proc/cmdline)/ansible-cron.sh -P /etc/cron.hourly/
        - echo "X-GNOME-Autostart-enabled=false" >> /etc/xdg/autostart/gnome-initial-setup-first-login.desktop
